__pycache__/
.venv/
.pytest_cache/
htmlcov/
viikko1/varasto
viikko1/riippuvuuksien-injektointi/.coverage
viikko1/riippuvuuksien-injektointi/htmlcov
viikko1/nhl-statistics/htmlcov
viikko1/nhl-statistics/.coverage
report.html
output.xml
log.html
